.logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    & img {
        width: 38px;
        height: 38px;
        object-fit: contain;
        border-radius: 8px;
    }
}

.subTitle {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
    color: #000;
    text-decoration: none;
}
