.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.navigation {
    height: 100%;
}

.mainLayout {
    height: 100vh;
    position: relative;
}

.containner {
    padding-bottom: 50px;
}