.customBtn {
    padding: 10px 20px;
     font-size: 1.8rem;
     background: orange;
}

.main-style {
    width: 70%;
    margin: 50px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}